<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>

  <h2>Vet</h2>
  <form th:object="${vet}" class="form-horizontal" id="add-vet-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />   
      </div>

      <div class="checkbox" th:each="specialty, itemStat : *{vetSpecialtyList}">
         <input type="checkbox" 
                th:value="${specialty.assigned}" 
                th:field="*{vetSpecialtyList[__${itemStat.index}__].assigned}" /> 
         <label th:text="${specialty}"></label>

         <input type="hidden" 
                th:field="*{vetSpecialtyList[__${itemStat.index}__].name}" /> 
      
         <input type="hidden" 
                th:field="*{vetSpecialtyList[__${itemStat.index}__].id}" /> 

      </div>
  
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit">Update Vet</button>
      </div>
    </div>

  </form>
<!--
      <div class="checkbox" th:each="specialty : ${SpecialtyAll}">
          <label> <input type="checkbox" name="vetSpecialtyList" th:value="${specialty.name}" th:field="{vetSpecialtyList}" th:checked="${specialty.assigned}"/> <span
                  th:text="${specialty.name}" th:remove="tag"> </span>
          </label>
        </div>




      <div class="checkbox" th:each="specialty, itemStat : *{vetSpecialtyList}">
          <label> <input type="checkbox" th:value="${specialty}" th:name="*{vetSpecialtyList[__${itemStat.index}__].assigned}" th:field="*{vetSpecialtyList[__${itemStat.index}__].assigned}" /> <span
                  th:text="${specialty.name}" th:remove="tag"> </span>
          </label>
        </div>


              <div class="checkbox" th:each="specialty, itemStat : *{vetSpecialtyList}">
          <label> <input type="checkbox" th:value="${specialty.id}"  th:checked="*{vetSpecialtyList[__${itemStat.index}__].assigned}" /> <span
                  th:text="${specialty.name}" th:remove="tag"> </span>
          </label>
        </div>

              <div class="checkbox" th:each="specialty, itemStat : *{vetSpecialtyList}">
         <input type="checkbox" 
                th:value="${specialty}" 
                th:field="*{vetSpecialtyList[__${itemStat.index}__].name}" 
                th:checked="${specialty.assigned}"/> 
         <label th:text="${specialty}"></label>
      </div>
-->
</body>
</html>
